<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Footer</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
<!-- footer -->
<footer class="footer-teal">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <p class="mb-0">&copy; 2024 Abdulhamid Mohamed. All rights reserved.</p>
            </div>
            <div class="col-md-6 text-end footer-contact">
                <ul class="list-inline mb-0">
                    <li class="list-inline-item"><a href="https://github.com/abdulhamidmazroua" target="_blank"><img src="/pharmacy-ms/images/email-icon.png" alt="Email" width="20"> Email</a></li>
                    <li class="list-inline-item"><a href="tel:+201129084082"><img src="/pharmacy-ms/images/mobile-icon.png" alt="Mobile" width="20"> (+20) 1129084082</a></li>
                    <li class="list-inline-item"><a href="https://www.linkedin.com/in/abdulhamid-mazroua/" target="_blank"><img src="/pharmacy-ms/images/linkedin-icon.png" alt="LinkedIn" width="20"> LinkedIn</a></li>
                    <li class="list-inline-item"><a href="https://github.com/abdulhamidmazroua" target="_blank"><img src="/pharmacy-ms/images/github-icon.png" alt="GitHub" width="20"> GitHub</a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>

</body>
</html>